

.loginform input[type="text"],input[type="password"]{
    margin:10px;
    width: 200px;
    height:20px;
}

.loginform button[type="submit"]{
    margin: 10px;
    padding: 3px;
    
}

.formContainer{
    width: 400px;
    margin:100px 0 0 400px;
    text-align: center;
}

.loginform p{
    color: red;
}